{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Character list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Realm</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
            <td><a href="{{ path('character_show', { region: entity.realm.region, realm: entity.realm.slug, character: entity.name }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.realm }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('character_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
